
body{
    background: white;
    font-family: 'Raleway', sans-serif;
    max-width: 1060px;
    margin: auto;
   
    
    
}



#logo{
    position: absolute;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    left: 650px ;
}
.menu ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}
.menu ul li{
    padding: 5px;
    margin-left: 20px;
}


div{
    
    line-height: 5px;
    padding-top: 75px;
    
}
h3{
    font-weight: bold;
}
h4{
    font-weight: 200;
}


header section {
    display: grid;
    grid-template-columns: 200px 400px;

}

article {
    grid-column: 1; /* placement en colonne 1 */
    
}
aside {
    grid-column: 2; /* placement en colonne 2 */
    padding: 10px;
}
header section i{
    padding: 10px;
}
#menu{
    display: flex;
    float: inline-start;
    padding-top: 5px;
    padding-right: 5px;
    align-items: baseline;
    
    
}

#menu nav ul {
    display: flex;
    list-style-type: none;
    
    
    }

#menu nav ul li{
    padding: 7px;
    border: 5px solid #DEEBFF;
    margin:7px;
    border-radius: 25px;
  
    

    
}

.fa-dog{
    color: rgba(119, 170, 177, 1);
    padding: 5px;  
}

.dispo{
    position: relative;
    margin-top: 120px;
 }

#hebergements_marseille{
    width: 700px;
    height: 1000px;
    background-color:#F2F2F2 ;
    /**margin-top: 120px;**/
    
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
   
    padding: 12px;
    position: relative;
    

}




.marcus{
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
   
}

.marcus img{
    width: 200px;
    height: 120px ;
   
    border-radius: 20px;
    padding-bottom: 20px;

}   

.fred{
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}
.fred img{
    width: 200px;
    height: 120px;
    
}
.reise{
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}
.reise img{
    width: 200px;
    height: 120px;
    
}

.Populaires{
    width:270px;
    height: 1000px;
    background-color: black;
    
  
    position: relative;
    padding:12px;
    
   
    
    
}

#hotel{
    display: flex;
    justify-content: space-between;
    position: relative;
    

    
    
}




