

/*-------------------------------------*\

#BODY

\*----------------------------------------*/
body{
    font-family: 'Raleway', sans-serif;
}

#main{
    background: white;
    font-family: 'Raleway', sans-serif;
    max-width: 1200px;
    margin: auto;
}

/*------------------------------------------*\

#header

\*-------------------------------------------*/


#logo{
    position: absolute;
<<<<<<< HEAD
    padding-top: 50px;
=======
    padding-top: 20px;
>>>>>>> main
}
/**
header{
    
    /**height: 400px;
    width: 1060px;
}**/

.menu{
    display: flex;
    justify-content: flex-end;
}

.menu ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}

.menu ul li{
    padding: 5px;
    margin-left: 20px;

    
}
.menu ul li a{
    color: #0065FC;
<<<<<<< HEAD
    margin: 2px 20px 0px 20px;
   /** padding-bottom: 20px;**/
}


/*  margin: 0px 20px 0px 20px;
=======
    margin: 0px 20px 0px 20px;
}


/*
>>>>>>> main
* Non décoration des liens
**/





.menu ul li::before {
    
    content: "";
    display: block;
    height: 0.10em;
    width:0%;
    /**padding-left: 20px;**/
    
    
    
    margin-bottom: 60px;
    background-color: #0065FC;
    transition: width 0.4s;
<<<<<<< HEAD
    
=======
    /**padding-bottom: 10px;**/
>>>>>>> main
}

.menu ul li:hover:before {
    width: 100%;
    /**margin-right: 70px;**/
   /** margin-bottom: 20px;**/
}

/*-----------------------------------------------*\

#SEARCH BTN

\*-----------------------------------------------*/

/*

*font awesome  lieux

*/
.fa-map-marker-alt{
    color: black;
    border: 10px solid  #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

/*

*Bouton rechercher

*/

.btn_1{
    color: white;
    background: #0065FC; 
    padding: 8px 15px;
    border-radius: 0px 10px 10px 0px;
    /**box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);**/
    margin-right: 15px;   
} 

.form{
    display: flex;
    align-items: center;
    border-radius: 10%;
    
}

input{
    /**box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);**/
    padding: 8px 15px; 
}

/*
* Non décoration des liens
*/

a { 
    text-decoration: none; 
    color:black;
} 

/*------------------------------------------------*\

#FILTRES MENU

\*--------------------------------------------------*/


/*
*Liste filtres
*/

.filtres ul{
    color: black;
    background: white;
    margin-right: 15px;
    list-style: none;
    
}

.filtres li {
    display:inline-flex;
    color:black;
    background: white;
    /**border-style: solid ;**/
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    /**margin:5px;**/
    padding-right: 10px;
    margin-right: 10px;
    list-style: none;
    height: 30px;
    
} 


@keyframes disparition{
    0% {opacity: 1;}
    50% {opacity: 0.4;}
    100% {opacity: 1}
    
}
.filtres li:hover{ animation: disparition 1s infinite;}

.filtres{
    display: flex;
    align-items: center;
    height: 100px;
    /**width: 800px;**/
}
.filtres a{
    color:black;
}


/*
* Fontawesome couleur bleue et cercle
*/
/**
.filtres i.fas {
    width: 15px; 
    height: 15px; 
    color: blue; 
    background-color: #DEEBFF; 
    border-radius: 25px;
    display: inline-flex;
    line-height: 10px; 
    margin: auto;
    font-size: 15px; 
    text-align: center; 
    padding: 8px;**/

/**
.fa-money-bill-wave{
    
    /**width: 12px; 
    height: 15px; 
    color: blue;
    /**background-color: #DEEBFF;**/ 
    /**border-radius: 25px;
    /**display: inline-flex;
    font-size:15px;
    /**line-height: 10px;
    color: blue;
}**/
.fa{
    color: #0065FC;
}
.fa-circle{
    color:#DEEBFF;
    font-size:25px;
    
}

.fa-stack.fa-lg{
    font-size: 15px;
    right:5px;
    color: #0065FC;
}

/**
.fa-child{
    width: 15px; 
    height: 15px; 
    color: blue; 
    background-color: #DEEBFF; 
    border-radius: 25px;
    display: inline-flex;
    line-height: 10px; 
    margin: auto;
    font-size: 15px; 
    text-align: center; 
    padding: 8px;
}
.fa-heart{
    width: 15px; 
    height: 15px; 
    color: blue; 
    background-color: #DEEBFF; 
    border-radius: 25px;
    display: inline-flex;
    line-height: 10px; 
    margin: auto;
    font-size: 15px; 
    text-align: center; 
    padding: 8px;
}

.fa-dog{
    width: 15px; 
    height: 15px; 
    color: blue; 
    background-color: #DEEBFF; 
    border-radius: 25px;
    display: inline-flex;
    line-height: 10px; 
    margin: auto;
    font-size: 15px; 
    text-align: center; 
    padding: 8px;
}
/*------------------------------------------------------*\

#TITLE

\*------------------------------------------------------*/

/**
h3{
    font-weight: bold;
}

h4{
    font-weight: 200;
}**/

.accroche__title{
    line-height:4px;
    margin-top: 50px;
}
.accroche__title h4{
    font-weight: 200;
}

.accroche__title h3{
    font-weight: bold;
}

.info__title{
    display:flex;
    align-items: baseline;
}
.fa-info{
    width: 10px; 
    height: 10px; 
    color: #0065FC; 
    
    background-color: white; 
    border-radius: 25px;
    border: 1px solid  #F2F2F2;
    line-height: 10px; 
    font-size: 12px; 
    text-align: center; 
    padding: 8px;
    
}
.text-fa_info{
    padding-left: 10px;
}

/*----------------------------------------------------------*\

# RESULTS

\*-----------------------------------------------------------*/

/*
* Etablissement de la grille principale result
*/

.results{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    
}

.results__title{
    font-size: 1em;
    grid-column: 1/-1; 
    margin-bottom:auto;
    font-weight: bold;
    /**padding-top: 150px;**/
    /** margin-top: 200px;**/
}

/*--------------------------------------------------------*\

# RESULTS HEBERGEMENT

\*----------------------------------------------------------*/


/*
*Mise en place de la grille hebergemnt
*/

.results__hebergements{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    background-color: #F2F2F2;
    border-radius: 10px;
    position: relative;
    border: 3px solid #F2F2F2;
    padding: 25px 25px 25px 25px;
    
}

/*
* taille image avec object-fit
*/

.result img{
    width: 100%;
    height: 110px;
    border: 1px solid  white;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

/*--------------------------------------------------------*\

#HEBERGEMENT

\*--------------------------------------------------------*/


/*
*Couleur et taille hebergement
*/

.result{
    border-radius: 7px;
    background-color: white;
    /**height: 206px;**/
    padding: 3px;
}

.result__rating{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 2px 0px 0px 5px;  
    color: #0065FC;
    font-size: 0.8em;
    margin: 7px 0px 0px 2px;
}

.result__title{
    font-size: 0.85em;
    margin: 7px 0px 0px 5px;
    font-weight: bold;
}

.result__price{
    display: flex;
    font-size: 0.8em;
    margin: 7px 0px 0px 5px;
}

/*---------------------------------------------------------*\

# RESULTS POPULAIRES

\*----------------------------------------------------------*/

.title__flex{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    
    
}

.fa-chart-line{
    margin-top:auto;
} 

.results__populaires{
    background-color: #F2F2F2;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 13px 25px 25px 25px;
}

.populaires__title{
    font-size: 1em;
    margin: 7px 0px 0px 5px;
}

/*----------------------------------------------------------*\

#POPULAIRES

\*----------------------------------------------------------*/


.result--populaire{
    display: flex;
    /**border: 3px solid #F2F2F2;**/
    border-radius: 10px;
    background-color: white;
    width: 300px;
    /** height: 120px;**/
    padding: 3px;
    margin-bottom:10px;
}

.result--populaire img{
    width: 120px;
    height: 120px;
    /**border: 1px solid;**/
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result__rating{
    display: flex;
    list-style-type: none;
    padding: 2px 0px 0px 5px;  
    color: #0065FC;
    font-size: 0.8em;
    margin-top: auto;
}

.populaires__price{
    font-size: 0.8em;
    display: flex;    
}

.populaires__infos{
    display: flex;
    flex-direction: column;
}

i.far{
    color: gray;
}

/*-------------------------------------------------*\

#ACTIVITES

\*-------------------------------------------------*/


.activites{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 400px;
    gap: 25px;
    margin-bottom: 40px;
    padding-bottom: 40px; 
}

.activites__item{
    padding-bottom: 50px;
    background-color: white;
    height: 400px;
    border-radius: 20px;
    box-shadow: 4px 4px 0px #F2F2F2;
}
.activites__item h4{
    font-size: 0.8em;
    /** margin-top: 2px; **/
    margin: 10px;
    font-weight: bold;
}

.activites__item img{
    width: 100%;
    height:100%;
    border-radius: 20px 20px 0px 0px; 
    object-fit: cover;
    margin:auto;
}
/**
.flex-container_1 .activites__item:nth-child(1) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-container_1 .activites__item:nth-child(2) img{
    width: 100%;
    object-fit: cover;
}
**/
/**
.flex-container_1 .activites__item:nth-child(1) {
    width: 100%;
    height:150px;
}

.flex-container_1.activites__item:nth-child(2){
    height: 20%; 
  
}**/
.flex-container_1 .activites__item_1{
        padding-bottom: 50px;
        background-color: white;
        height: 200px;
        border-radius: 20px;
        box-shadow: 4px 4px 0px #F2F2F2;
    }
    .activites__item_1 img{
        width: 100%;
        height:100%;
        border-radius: 20px 20px 0px 0px; 
        object-fit: cover;
        margin:auto;
    }
    .activites__item_1 h4{
        font-size: 0.8em;
        /** margin-top: 2px; **/
        margin: 10px;
        font-weight: bold;
    }
    .flex-container_1 .activites__item_2{
        padding-bottom: 50px;
        background-color: white;
        height: 125px;
        border-radius: 20px;
        box-shadow: 4px 4px 0px #F2F2F2;
    }
    .activites__item_2 h4{
        font-size: 0.8em;
        /** margin-top: 2px; **/
        margin: 10px;
        font-weight: bold;
    }
    .activites__item_2 img{
        width: 100%;
        height:100%;
        border-radius: 20px 20px 0px 0px; 
        object-fit: cover;
        margin:auto;
 
    }
    /**
.flex-container_1 .activites__item:nth-child(2){
    height: 60000px;
    
     
}**/

.flex-container_2 .activites__item:nth-child(1){
    
    height: 160px;
}

.flex-container_1{
    display:flex;
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
    

   /** align-items: baseline; **/

}

.flex-container_2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   height: 450px;
}

/*---------------------------------------------------------*\

#FOOTER

\*---------------------------------------------------------*/

.grid-container{
    display:grid;
    grid-template-columns:repeat(12,1fr);
   /**margin-left:120px;**/
}

.item1{
    grid-column-start: 2;
    grid-column-end:4;
    
}
.item2{
    grid-column-start:5;
    grid-column-end:7;
}

.item3{
    grid-column-start:8;
    grid-column-end: 10;
}

footer{
    background-color: #F2F2F2;
    /** border-radius: 20px;**/
   /** display:grid;
    
    
    grid-template-columns:repeat(10, 1fr);**/
    
    width: 100%;
    margin:auto;
    
}
h6{
    margin-left:40px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top:30px;
    font-size: 0.8em;
}
footer .grid-container li{
    list-style: none;
    font-size: 0.8em;
    
}
.grid-container ul{
   margin-bottom:20px;
   padding-bottom: 70px;
}
/**
footer ul li:first-child{
    /**font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}**/
footer ul li{
    padding-top:6px;
    padding-bottom: 6px;
    
    
}


/** Responsive tablette**/

@media screen and  (max-width: 900px) {
    
    /**max width 900**/
    /** min width 600px**
    (min-width:600px)**/
   
    body{
        padding: 10px;
        margin:auto;
    }
    .menu{
        justify-content: flex-start;
        padding-top:70px;
    }
   
.menu ul li::before{
 display:none;
}
/**
#logo{
    position: absolute;
    /***margin-bottom: 40px;
    padding-bottom:80px;
}**/
    .menu ul li::after {
        
        content: "";
        display: block;
        height: 0.10em;
        width:0%;
        /**padding-left: 20px;**/
        
        
        
        /**margin-bottom: 70px;**/
        background-color:blue;
        transition: width 0.4s;
        margin-top: 0px;
    }
    .menu ul li:hover:after {
        width: 100%;
        /**margin-right: 70px;**/
    }
    .inscrire{
        position: absolute;
        bottom:55px;   
             left:300px;
    }
    /**
    .inscrire{
        position: absolute;
        bottom:55px;
        left:200px;
        
    }**/
.menu ul {

    position: relative;
    
}

.filtres li{
    margin:2px
}

/**
.filtres{
    display: flex;
    flex-direction: column;
    align-items: center;
    /**flex-wrap: wrap;
    height: 75px;
    width: 375px;  
}**/



.results__hebergements{
    display: grid;
    /** grid-template-columns: repeat(2,1fr);**/
    grid-template-columns: 1fr;
    gap:25px;
    border-radius: 10px;
}

.result__rating{
    margin-top: auto;
}

.result--populaire{
    width: 250px;
    /**height: 220px;**/
    display:flex;
    flex-direction: column;
    margin-top: 23px;
    /** align-content: flex-start;**/
}

.result__title{
    font-size: 0.9em;
    grid-column: 1/-1;
}

.title__flex .results__title{
    margin-top: 15px;
}
.results__hebergements .results__title{
    margin-top: auto;
}

.result--populaire img{
    /** height: 150px;**/
    width: 100%;  
}
.results__populaires{
    /**padding: 13px 25px 60px 25px;**/
    padding: 13px 25px 40px 25px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.activites{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 25px;
    row-gap: 80px;
    
}
/**
.flex-container_1 .activites__item:nth-child(2){
    height: 25%; 
}**/
.flex-container_2 .activites__item{
    width: 100%;
    height: 200px;
    
}
/** 40%
/**
.flex-container_2{
    padding-top: 40px;
}
.activites__item:nth-child(1){
    padding-top:100px;
}**/
/**
.activites__item img{
    height: 300px;
}**/
.grid-container{
    display:flex;
    justify-content: flex-start;
    margin-right: auto;
}
}


/** Responsive smartphone **/

@media screen and (max-width: 600px){
    /**(min-width: 300px)**/
    /**
    #logo{
        margin-top: 20px;
    }**/
    /**.logo__menu{
        display: flex;
        justify-content: space-between;
        /**align-items: baseline;
    }**/
    /**
    .menu ul {
        display:flex;
        /**flex-wrap: nowrap;
        position: relative;
        
        justify-content: flex-start;
    }**/
    /**
  .menu ul li{
      margin-right:40px
  }**/
    
    .menu ul li::after {
        
        content: "";
        display: block;
        height: 0.10em;
        width:0%;
        /**padding-left: 20px;**/
        
        
        
        /**margin-bottom: 70px;**/
        background-color:blue;
        transition: width 0.4s;
        margin-top: 0px;
    }
    .menu ul li:hover:after {
        width: 100%;
        /**margin-right: 70px;**/
    }
    .menu{
        justify-content: flex-start;
        padding-top:50px;
    }

    .menu ul li{
        margin-top:40px;
        /**margin-right: 50px;**/
        
    }
    .inscrire{
        position: absolute;
        bottom:45px;
        left:200px;
        
    }
    /**
    body{
        margin:auto;
    }**/

    .accroche__title{
        line-height:30px;
        margin-top: 50px;
    }

    .filtres{
        padding-bottom: 130px;
       
        
       
    }

    .filtres ul{
        margin-bottom:auto;
        margin-top: auto;
    }
    
    .filtres ul li{
        margin:5px;
    }
    /**
    header{
        height: 600px;
        /** width: 500px;*
    }**/
    
    .filtre__title{
        display: flex;
        align-self: start;
    }
    
    .results{
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .results__hebergements{
        /**display: flex;
        flex-direction: column;**/
        background-color:#F2F2F2;
        border-radius: 10px; 
        grid-template-columns: 1fr; 
        row-gap: 25px; 
    }
    
    .results__populaires{
        display: flex;
        flex-direction: column;
        order: -1;
        gap: 25px;
        justify-content: space-around;
        padding: 20px 20px 20px 40px;
    }
    /**
    .populaires__infos{
        /**display:flex;
    }**/
    .result--populaire img{
        width: 30%;
        height:120px;
        border: 1px solid;
        object-fit: cover;
        /**display: flex;**/
        /**flex-direction: column;**/
        /** justify-content: center**/
    }
    
    .result--populaire{
        display: flex;
        flex-direction: row;
        border: 3px solid #F2F2F2;
        border-radius: 10px;
        background-color: white;
        width: 300px;
        height: 120px;
        padding: 3px;
    }
    .filtres{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        height: 75px;
        width: 375px; 
    }
    
    /** Activités**/
    
    
    .activites{
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
    
        
        /** gap:25px;**/
        /**grid-template-rows: 1fr;**/
        grid-template-rows: 175px;
        /**grid-template-rows:200px ;**/
        margin-top: 50px;
        /**display:flex;
        flex-direction: column;**/
        row-gap: 30px;
        /**margin:auto;**/
    }
    
    .activites__item{
        display: flex;
        flex-direction: column;
        /**justify-content: space-around;**/
        /**align-content: stretch;**/
        /**align-items: baseline;**/
        height: 120px;
        /**row-gap: 30px;**/
        /**margin-top: 20px;**/
    }
/**
    .activites:nth-child(1){
         /**margin-bottom: auto;
        height: 50px;
    } 
    .activites__item h4{
        font-size: 0.8em;
    }
    
    .activites__item img{
        width: 100%;
        height: 120px;
        object-fit: cover;
        margin: auto;
    }



    /**
    .flex-container_1 .activites__item:nth-child(2) {
        width: 100%;
        height: 120px;
        margin-top: 30px;
        margin-bottom: 20px;
        
        object-fit: cover;
    }**/
    
    .flex-container_1 .activites__item_1{
        width: 100%;
        height: 120px;
        /** margin-bottom: 20px;**/
        /**margin-top: 40px;**/
    }
    .flex-container_1 .activites__item_1{
        display: flex;
        flex-direction: column;
        /**row-gap: 30px;**/
    }



    .activites .flex-container_2 .activites__item{
        height:120px;
        display: flex;
        flex-direction: column;
        /**row-gap: 30px;**/
        
        /**padding-top:20px;**/
    }
    .flex-container_2{
        /**display: flex;
        flex-direction: column;**/
        height: 375px;
        /**justify-content: flex-start;**/
        /**row-gap: 30px;**/
    }
    .flex-container_1{
        /**display: flex;
        flex-direction: column;**/
        /**justify-content: flex-start;
        row-gap: 30px;**/
        height: 375px;
       /** margin-top: auto;**/
    }
    /**
    .flex-container_2 .activites__item:nth-child(2){
        margin-top: 500px;
    }**/
    /**footer**/

    .grid-container{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-left: auto;
    }
    
}
@media screen and (max-width: 370px){
    .info__title h3{
    font-size: 0.8em;
    margin-top:50px;
}
h4{
    font-size: 0.9em;
}

.filtres ul {
    display: flex;
    flex-direction: column;
    /** padding-bottom: 50px;**/
} 
}

@media screen and (max-width: 760px){
.filtres li{
    margin:5px
}

}









    /***
    #logo{
        margin-top: 20px;
    }
    /**.logo__menu{
        display: flex;
        justify-content: space-between;
        /**align-items: baseline;
    }*
    .menu ul {
        display:flex;
        /**flex-wrap: nowrap;*
        position: relative;
        
        align-content: flex-start;
    }
    
    .menu ul li::after {
        
        content: "";
        display: block;
        height: 0.10em;
        width:0%;
        /**padding-left: 20px;**/
        
        
        
        /**margin-bottom: 70px;*
        background-color:blue;
        transition: width 0.4s;
        margin-top: 0px;
    }
    .menu ul li:hover:after {
        width: 100%;
        /**margin-right: 70px;
    }
    .menu{
        justify-content: flex-start;
        padding-top:50px;
    }
    .inscrire{
        position: absolute;
        bottom:80px;
        left:300px;
    }
    /**
    body{
        margin:auto;
    }**/
/**
    header{
        height: 600px;
        /** width: 500px;
    }
    .filtre__title{
        display: flex;
        align-self: start;
    }
    
    .results{
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .results__hebergements{
        display: flex;
        flex-direction: column;
        background-color:#F2F2F2;
        border-radius: 10px;   
    }
    
    .results__populaires{
        display: flex;
        flex-direction: column;
        order: -1;
        gap: 25px;
        justify-content: space-around;
        padding: 20px 20px 20px 40px;
    }
    .populaires__infos{
        display:flex;
    }
    .result--populaire img{
        width: 30%;
        height:120px;
        border: 1px solid;
        object-fit: cover;
        /**display: flex;**/
        /**flex-direction: column;**/
        /** justify-content: center;**
    }
    .result--populaire{
        display: flex;
        /**border: 3px solid #F2F2F2;*
        border-radius: 10px;
        background-color: white;
        width: 300px;
        height: 120px;
        padding: 3px;
    }
    .filtres{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 75px;
        width: 375px;   
    }
    
    /** Activités*
    
    
    .activites{
        background-color: white;
        /**display: grid;
        grid-template-columns: 1fr;**/
        /** gap:25px;**/
        /**grid-template-rows: 1fr;**
        display:flex;
        flex-direction: column;
    }
    
    .activites__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 160px;
        /**margin-bottom: 20px;**
    }
    
    .activites__item:nth-child(odd){
        /** margin-bottom: auto;**
        height: 120px;
    } 
    .activites__item h4{
        font-size: 0.8em;
    }
    
    .activites__item img{
        width: 100%;
        height: 120px;
        object-fit: cover;
        margin: auto;
    }
    
    .flex-container_1 .activites__item:nth-child(2) {
        width: 100%;
        height: 120px;
        margin-top: 30px;
        /**margin-bottom: 20px;**
        
        object-fit: cover;
    }
    
    .flex-container_1 .activites__item:nth-child(1){
        width: 100%;
        height: 120px;
        /** margin-bottom: 20px;**/
        /**margin-top: 40px;**
    }
    .flex-container_2 .activites__item{
        height:120px;
        /**padding-top:20px;**
    }
    .flex-container_2 .activites__item:nth-child(2){
        margin-top: 30px;
    }
    /** footer**
    .grid-container{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-left: auto;
    }**/
    
